* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Lalezar", system-ui;
  display: flex;
  justify-content: center;
  background-color: #9d78bb;

}
